@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Variable.ttf') format('truetype'); /* Altere o nome e o formato conforme necessário */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('./fonts/Bebas-Regular.otf') format('truetype'); /* Altere o nome e o formato conforme necessário */
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #1B0C1A;
    height: 120px;
    align-items: center;
    display: flex;
    background-image: url('./assets/Frame 7.png');
    background-size: auto;
    
    
}

.navbar--content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    width: 100%;
    background-color: #4b2138c7;
    margin: auto;
    margin-top: 25px;
    gap: 130px;
    border-radius: 40px 40px 40px 40px;
    
}

.navbar--content a {
    font-size: 15px;
    text-decoration: none;
    color: #FFF4EB;
    font-family: 'Satoshi';
    font-weight: bold;
    text-transform: uppercase;
}

.navbar--content a:hover {
    font-size: 16px;
    color: #e77ec8;
}

.container {
    display: flex;
    margin: 0 auto;
    background-image: url('./assets/fundo5.png');
    height: 529px;
}

.container--main {
    display: flex;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

}

.container--text {
    margin-top: 100px;
    margin-left: 80px;
}

.container--text h1 {
    font-size: 70px;
    color: #FADCD5;
}
.container a {
text-decoration: none;

}

.icons {
    display: flex;      
}
#insta {
    margin-top: 48px;
    font-size: 28px;
    color: #FADCD5;
}

#insta:hover {
    margin-top: 48px;
    font-size: 30px;
    color: #ffc0dd;
}

.container button {
    background-color: #FADCD5;
    padding: 10px 20px ;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.container button:hover {
    font-size: 19px;
    background-color: #ffc0dd;
    margin-left: 28px;
}

.container--picture img {
    max-width: 76%;
}

.vazia {
    width: 100%;
    height: 65px;
    background-color: #fadcd5;
}


.section {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 80%;
    
    
   
}

.section--main img {
    height: 580px;
    margin-top: 80px;
}

.section--title {
    margin-left: 3em;
    margin-top: 140px;
}

.section--title h1 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 65px;
    color: #fadcd5;
    font-family: 'Bebas';
}

.section--title p {
    font-size: 25px;
    color: #fadcd5;
    font-family: 'Bebas';
    margin-left: 20px;
    text-align: justify;
    
}

.main {
    height: 2560px;
    background-image: url('./assets/fundoantigo.jpg');
    background-repeat: round;
}

.works {
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    padding-bottom: 35px;
    border-bottom: 10px solid #765D67;
}

.works--text {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas';
    color: #fadcd5;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .carrossel--container {
    display: flex;
    gap: 10px; /* Espaço entre as imagens */
    transition: transform 0.5s ease-in-out; /* Animação de transição */
    width: 600px; /* Tamanho da área visível das imagens */
    overflow: hidden;
  }
  
  .carrossel--item {
    width: 200px; /* Largura de cada imagem */
    height: 200px;
    flex-shrink: 0; /* Impede que o item diminua */
  }
  
  .carrossel--item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carrossel button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 20px;
    transition: background-color 0.3s;
  }
  
  .carrossel button:hover {
    background-color: #555;
  }
  
