@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Variable.ttf') format('truetype'); /* Altere o nome e o formato conforme necessário */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('./fonts/Bebas-Regular.otf') format('truetype'); /* Altere o nome e o formato conforme necessário */
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.destaque {
  color: white;
}
.navbar {
    background-color: #1B0C1A;
    height: 120px;
    align-items: center;
    display: flex;
    background-image: url('./assets/Frame 7.png');
    background-size: auto;
    
    
}

.navbar--content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    width: 100%;
    background-color: #4b2138c7;
    margin: auto;
    margin-top: 25px;
    gap: 130px;
    border-radius: 40px 40px 40px 40px;
    
}

.navbar--content a {
    font-size: 15px;
    text-decoration: none;
    color: #FFF4EB;
    font-family: 'Satoshi';
    font-weight: bold;
    text-transform: uppercase;
}

.navbar--content a:hover {
    font-size: 16px;
    color: #ffc0dd;
}

.navbar img {
    cursor: pointer;
}

.hamburger-icon {
  display: none;
}

.mobile-menu {
  display: none;
}
.logo-container {
  display: none;
}
/* ----------------MENU HAMBURGUER---------------*/

@media (max-width: 768px) {
  .navbar {
    background-color: #491F36;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 90px;
  }

  .logo-container {
    /* Contenedor da imagem */
    width: 70px; /* Ajuste o tamanho conforme necessário */
    height: 70px;
    display: flex;
  }
  
  .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta a imagem para caber no container */
  }
  .navbar--content {
    display: none;
  }
  .hamburger-icon {
    display: block;
    position: absolute;
    top: 30px; 
    right: 20px; 
    font-size: 30px;
    color: #FFF4EB;
    cursor: pointer;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4b2138f5;
    position: absolute;
    top: 80px; /* Ajuste com base na altura da sua navbar */
    width: 100%;
    padding: 20px;
    gap: 20px;
  }
  .mobile-menu a {
    font-size: 18px;
    color: #FFF4EB;
    text-decoration: none;
    text-transform: uppercase;
  }
  .mobile-menu a:hover {
    color: #ffc0dd;
  }
}


/* ----------------MENU HAMBURGUER---------------*/


.container {
    display: flex;
    margin: 0 auto;
    background-image: url('./assets/fundo5.png');
    height: auto;
}

.container--main {
    display: flex;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

}

.container--text {
    margin-top: 100px;
    margin-left: 10%;
    
}

.container--text h1 {
    font-size: 60px;
    color: #FADCD5;
    
}
.container a {
text-decoration: none;

}

.icons {
    display: flex;      
}




.container button {
    background-color: #FADCD5;
    padding: 10px 20px ;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.container button:hover {
    font-size: 19px;
    background-color: #ffc0dd;
    margin-left: 28px;
}

.container--picture img {
    max-width: 76%;
}

@media (max-width: 1699px) {
  .container--main {
    max-width: 100%;
  }

}

@media (max-width: 1529px) {
  .container--main {
    max-width: 100%;
    justify-content: space-between;
  }
  
  .container--picture img {
    max-width: 66%;
    margin-left: 20%;
    margin-top: 40px;
}

.container--text h1 {
  font-size: 60px;
  color: #FADCD5;
  
}

}
@media (max-width: 1455px) {
  .container--text h1 {
    font-size: 48px;
    color: #FADCD5;
    margin-right: 70px;;
  }
  .container--text {
    max-width: 40%;
    width: 100%;
  }
   .container--picture img {
    max-width: 56%;
    margin-left: 30px;
    margin-top: 40px;
}

.icons button {
  margin-top: 8px;
}

}

@media (max-width: 1370px) {
  .container {
    height: 20%;
}
}

@media (max-width: 1245px) {
    .navbar--content {
      gap: 7%;
    }
    .container--text {
      margin-top: 40px;
    }

    .container--picture img {
      margin-top: 0px;
    }
    .container--text h1 {
      font-size: 44px;
    }
  }
  @media (max-width: 1206px) { 
    .container--text h1 {
      font-size: 40px;
    }
    

  }
  @media (max-width: 1067px) {
    .container--main {
      max-width: 100%;
    }
    .container--text {
      max-width: 50%;
      margin-top: 10px;
    }

    .container--picture img {
      margin-top: 0px;
      width: 100%;
      height: auto;
    }
    .container--picture {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 960px) {
    .container--text h1 {
      font-size: 36px;
    }
  }

  @media (max-width: 900px) {
    .icons button {
      font-size: 12px;
    }
    .container button:hover {
      font-size: 13px;
      background-color: #ffc0dd;
      margin-left: 28px;
  }
  }

  @media (max-width: 869px) {
    .container--text h1 {
      font-size: 32px;
    }
  }
  @media (max-width: 790px) {
    .container--text h1 {
      font-size: 30px;
    }
  }
  @media (max-width: 768px) {
    .container--picture {
      display: none;
    }
    .container--picture img {
      display: none;
    }
    .container--main{
      max-width: 100%;
      
    }
    .container--text {
      max-width: 100%;
      text-align: center;
      justify-content: center;
      margin-top: 20px;
      margin-left: 0;
  
    }
    .container--text h1 {
      font-size: 2.5em;
      display: block;
      align-items: center;
      text-align: center;
      margin: 0 auto;
    }
    .icons {
      
      justify-content: center;
      text-align: center;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
      padding-bottom: 30px;
      

    }
    .icons button {  
      height: 40px;
      width: 170px;
      font-size: 13px;
      align-items: center;
      margin: 20px auto;
    }
    .icons a {  
      font-size: 20px;
    }
    
    }
    
    
  

.vazia {
    width: 100%;
    height: 65px;
    background-color: #fadcd5;
}


.section {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    max-width: 80%;
    
    
   
}

.section--main img {
    height: 580px;
    margin-top: 80px;
}



.section--title {
    margin-left: 3em;
    margin-top: 140px;
}

.section--title h1 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 65px;
    color: #fadcd5;
    font-family: 'Bebas';
}

.section--title p {
    font-size: 25px;
    color: #fadcd5;
    font-family: 'Bebas Neue';
    margin-left: 20px;
    text-align: justify;
}

@media (max-width: 1300px) {
  .section--main img {
    height: 450px;
}
.section--title {
  margin-top: 80px;
}
.section--title h1 {
  margin-bottom: 40px;
}
.section--title p {
  font-size: 24px;
}
}
@media (max-width: 1050px) {
  .section--main img {
    height: 420px;
}
.section--title {
  margin-top: 120px;
}
.section--title h1 {
  font-size: 28px;
}
.section--title p {
  font-size: 20px;
}
}

@media (max-width: 1000px) {
  .section--main img {
    height: 400px;
}
.section--title {
  margin-left: 3em;
  margin-top: 120px;
}
}
@media (max-width: 900px) {
  .section--main img {
    height: 380px;
}
.section--title {
  margin-left: 2em;
  margin-top: 60px;
}
.section--title h1 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 18px;
}
.section--title p {
  font-size: 18px;
}
.works h2 {
  font-size: 28px;
}
}
@media (max-width: 768px) {
.section {
  display: block;
}
.section--main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.section--main img {
  height: 480px;
}

.section--title {
  margin: 0 auto;
}
.section--title h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section--title p {
  text-align: center;
}

.works--text h2 {
  font-size: 36px;
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
}
}
@media (max-width: 600px) {
  .section--main img {
    max-width: 85%;
    height: 100%;
  }
}
@media (max-width: 396px) {
.container--main h1 {
  font-size: 30px;
}
.icons button {  
  height: 35px;
  width: 150px;
  font-size: 11px;
  align-items: center;
  margin: 20px auto;
}
.icons a {  
  font-size: 20px;
}
.section--main img {
  max-width: 95%;
  height: 100%;
}
.works--text h2 {
  font-size: 26px;
}
}

.main {
    height: auto;
    background-image: url('./assets/fundoantigo.jpg');
    background-repeat: round;
}

.works {
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 80px auto;
    padding-bottom: 35px;
    border-bottom: 10px solid #765D67;
}

.works--text {
    font-size: 26px;
    color: white;
    text-transform: uppercase;
        
    color: #fadcd5;
}

.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 50px; /* Adiciona um espaço acima do carrossel */
}

.carrossel--container {
  display: flex;
  gap: 20px; /* Espaço entre as imagens */
  transition: transform 3.5s ease-in-out; /* Animação de transição */
  width: 100%; /* Ocupa toda a largura do contêiner */
  max-width: 1100px; /* Tamanho máximo da área visível */
  justify-content: center; /* Centraliza as imagens */
  overflow: hidden; /* Esconde as imagens que estão fora do contêiner */
}


.carrossel--item {
  flex-shrink: 0; /* Impede que o item diminua */
  width: 300px; /* Largura de cada imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.carrossel--item img {
  width: 100%;
  height: auto; /* Ajusta a altura para manter a proporção */
  border-radius: 30px; /* Bordas arredondadas */
  object-fit: cover; /* Garante que a imagem preencha o espaço */
}

.carrossel button {
  background-color: #fadcd5;
  color: #1b0c1a;
  border: none;
  padding: 15px 15px 12px 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 20px;
  transition: background-color 0.3s;
  border-radius: 50%;
}
@media (max-width: 475px) {
  .carrossel--item img {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.final--icons a {
  font-size: 58px;
}
.final--icons a:hover {
  color: #3f0a3b;
  font-size: 60px;
}
}
@media (max-width: 413px) {
  .carrossel--item img {
    width: 70%;
    margin: 0 auto;
    display: flex;
}
}
@media (max-width: 377px) {
  .carrossel--item img {
    width: 60%;
    margin: 0 auto;
    display: flex;
}
}
.carrossel button:hover {
  background-color: #ffc0dd;
}

.personalize {
    display: flex;
    margin: 80px auto;
    justify-content: center;
    max-width: 80%;
    
}

.personalize--image img {
    height:580px;
    margin-left: 120px;
    border-radius: 10%;
}

@media (max-width: 1220px) {
.personalize {
  max-width: 90%;
}
.personalize p {
  margin: 0px;
}
}
@media (max-width: 1084px) {
  .personalize--image img {
    height:480px;
    margin-left: 60px;
  }
}
@media (max-width: 900px) {
  .personalize--image img {
    height:400px;
    margin-left: 60px;
  }
  .personalize h1 {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
.personalize {
  display: block;
}
.personalize p {
  max-width: 85%;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.personalize--image {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
.personalize--image img {
  margin-left: 0px;
}

}

.locate {
    margin-top: 2rem;
    text-align: center;
  }
  
  .locate--title {
    font-size: 38px;
    margin-bottom: 1rem;
    color: #fadcd5;
    font-family: 'Bebas Neue';

  }
  
  .locate--content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 2rem;
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding-top: 30px;
  }
  
  .locate--text {
    flex: 1;
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
   
    justify-content: center; /* Centraliza verticalmente */
  margin-top: 60px;
    color: #fadcd5;
    height: 100%; /* Garante que a altura da div seja usada por completo */
    font-family: 'Bebas Neue';
    font-size: 20px;
  }
  
  .locate--text h3 {
    margin-bottom: 0; /* Remove o espaçamento padrão inferior do h3 */
  }
  
  .locate--text p {
    margin-top: 0; /* Remove o espaçamento padrão superior do p */
    margin-bottom: 1rem; /* Adiciona o espaçamento entre o par <h3> e <p> e o próximo grupo */
    
  }
  
  /* Remove o espaçamento inferior no último par de <h3> e <p> */
  .locate--text h3:last-of-type {
    margin-bottom: 0;
  }
  
  .locate--text p:last-of-type {
    margin-bottom: 0;
  }
  .locate--map {
    flex: 1;
    height: 400px;
    padding-bottom: 30px;
    /* Ajuste a altura conforme necessário */
  }
  
  @media (max-width: 768px) {
    .locate {
      display: block;
    }
    .locate--content {
      flex-direction: column;
      align-items: center;
      display: block;

    }
  .vazia {
    height: 40px;
  }
    .locate--map {
      width: 100%;
    }
    .locate--title {
      font-size: 30px;
    }
    .locate--text {
      text-align: center;
      margin-top: 20px;
    }
    .locate--map {
      display: block;
      height: 340px;
      margin-top: 20px;
      padding-bottom: 30px;
    }
    .final--icons a {
      font-size: 68px;
    }
    .final--icons a:hover {
      color: #3f0a3b;
      font-size: 70px;
    }
  }

  footer {
    height: 110px;
    background-color:#fadcd5; 
    display: flex;
    align-items: center;
  }

  .final--icons {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 78px;
    gap: 50px;
  }
  
  .final--icons a {
    color: #1b0c1a;
  }

  .final--icons a:hover {
    color: #3f0a3b;
    font-size: 82px;
  }

  
  